{{#each items}}
	<li class="friends-list_item" draggable="true">
		<img src="{{photo_50}}" alt="">
		<span class="nameFriends">
			{{first_name}}
			{{last_name}}
		</span>
		<i class="material-icons add button-add" id="add">add</i>
		<i class="material-icons clear button-add" id="clear">clear</i>
	</li>
{{/each}}
