{{#each items}}
	<li class="friends-list_item" draggable="true">
		<img src="{{photo_50}}" alt="">
		<span class="nameFriends">
			{{first_name}}
			{{last_name}}
		</span>
		<i id="buttonAdd" class="material-icons button-add">add</i>
	</li>
{{/each}}
