{{#each items}}
    <li class="friends-list_item">
        <img src="{{photo_50}}" alt="">
        <span>
            {{first_name}}
            {{last_name}}
        </span>
        <i class="material-icons button-add">add</i>
    </li>
{{/each}}
