{{#each items}}
	<li class="friends-list_item" draggable="true">
		<img src="{{photo_50}}" alt="">
		<span class="nameFriends">
			{{first_name}}
			{{last_name}}
		</span>
		<button class="add button"><i class="material-icons button-add" id="add">add</i></button>
		<button class="clear button"><i class="material-icons button-add" id="clear">clear</i></button>
	</li>
{{/each}}
